.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: transparent;

  z-index: 1000;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-center-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar-profile-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
}
.navbar-profile-image {
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.welcome-msg {
  align-self: center;
  color: #fff;
  font-size: 1rem;
}
.navbar-button {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}
.navbar-button:hover {
  background: rgb(0, 0, 0);
  transform: scale(1.05);
  color: #fff;
}

.navbar a {
  position: relative;

  color: white;
  font-size: 18px;
  font-weight: 500;

  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;

  top: 100%;
  left: 0;
  width: 0; /* ! Set back to 0 because I'm using 100% width in the hover section */
  height: 2px;
  background-color: white;

  transition: 0.3s;

  /* transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s; */
}

.navbar a:hover::before {
  width: 100%;
}
