.contact-container {
  max-width: 600px;
  padding: 20px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 400px;
  background: rgba(255, 255, 255, 0.056);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  transition: all 0.3s ease;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: #333;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .submit-button:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #000;
  }
  