@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */

@font-face {
  font-family: Poppins;
  font-weight: 800;
  src: url(./assets/fonts/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: 900;
  src: url(./assets/fonts/Poppins/Poppins-Black.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url(./assets/fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url(./assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: url("./assets/Jungle_bg.png") no-repeat center center/cover;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homepage-container {
  margin-top: 4rem;
}
